#body{
	background-color: #FADB7A ;
}
#card{
	background-color: #Dfe3ee ;
	 opacity: 1; 
}
#navbar{
	background-color: teal;
}
#button{
	border-radius: 25px;  
	cursor: pointer;
	position: relative;
	left:37%;
	background-color: #7AFAD5;
	width: 20%;
	height: 6%;
}
::placeholder { 
    color: black;
    opacity: 0.5; 
}